h1 {
    font-size: 50px;
    font-family: sans-serif;
    font-weight: bold;
   

}
section h2 {font-size: 50px;
    font-family: sans-serif;
    font-weight: bold;
    color: rgb(27, 28, 28);
}
    section p{font-size: 25px;
        color: black;
        }
    section  {box-shadow: 0 0 0 50px;
    color: rgb(10, 4, 91);}
body{
    text-align: center;
    display: block,
    
}
div{background-color: rgb(88, 99, 124);}

img  {box-shadow: 0 0 0 10px;
    color: rgb(16, 16, 27);}

