h1 {
    font-size: 50px;
    font-family: sans-serif;
    font-weight: bold;
   

}
section h2 {font-size: 50px;
    font-family: sans-serif;
    font-weight: bold;
    color: rgb(27, 28, 28);
}
    section p{font-size: 25px;
        color: black;
        }
    section  {box-shadow: 0 0 0 50px;
    color: rgb(10, 4, 91);}
body{
    text-align: center;
    display: block,
    
}
div{background-color: rgb(88, 99, 124);}

.redes{
    height: 200px;
    background-color: blue;
    padding: 30px;
}
.redes h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-weight: bold;
}
.social{   
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}
.social li{
    display: inline-block;
}
.social a{
    padding: 20px;
}