h1 {
    font-size: 50px;
    font-family: sans-serif;
    font-weight: bold;
   

}
section h2 {font-size: 50px;
    font-family: sans-serif;
    font-weight: bold;
    
}
    section p{font-size: 25px;
        }
    section  {box-shadow: 0 0 0 50px;
    color: whitesmoke;}
body{
    text-align: center;
    display: block,
    
}
div{background-color: cadetblue;}
